
html{
    background-color: #340c31;
    font-family: Nunito
}
main{
    padding-top: 10px;
    max-width: 900px;
    background-color: ghostwhite;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}
h1{
    color: green;
    text-align: center;
}
P{
    text-align: center;
    width: 300px;
}

.esquerdo .imagem{
    max-width: 300px;
    border-radius: 50%;
}
.direito{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.direito  .fale-comigo{
    max-width: 500px;
    background-color: lightskyblue;
    border-radius: 5px;
    box-shadow: -1px 10px 26px -14px rgba(0,0,0,0.75);
    padding: 4px;
    text-decoration: none;
    color: white;
}
.direito img{
    position: relative;
    bottom: 30px;
    left: 120px;
}
.direito .fale-comigo:hover{
    background-color: #340c31;
}
@media screen and (max-width:760px) {
    main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 380px;
        
    }
    .direito a{
        max-width: 250px;
    }
}

@media screen and (max-width:400px) {
    main{
        max-width: 200px;
    }
    .esquerdo .imagem{
        width: 150px;
    }
    h1{
        width: 150px;
    }
    p{
        width: 150px;
    }
    .direito a{
        width: 150px;
        text-align: center;
    }
    .direito img{
        left: 50px;
    }
}
